body{
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080808;
}

.btn{
  position: relative;
  padding: 16px 40px;
  color: #fff;
  background-color: #ffffff0d;
  border: 1px solid #ffffff1a;
  font-size: 18px;
  font-weight: 700;
  backdrop-filter: blur(10px);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 12px rgba(0,255,255,0.15), 0 0 24px rgba(0,255,255,0.1) inset;
}

.btn::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 150%;
  height: 150%;
  transform: rotate(0deg);
  transition: all 0.6s ease;
  z-index: -1;
  background: conic-gradient(
    from 180deg at center,
    transparent 0%,
    rgba(0,255,255,0.6) 20%,
    transparent 100%
  );


}

.btn:hover::before{
  transform: rotate(720deg);
}

.btn:hover{
  border-color: rgba(0,255,255,0.2);
  box-shadow: 0 0 25px #0ef, 0 0 40px rgba(0,255,255,0.6), inset 0 0 30px rgba(255,255,255,0.3);
  background-color: rgba(0,255,255,0.08);
}
